.body {
    background-color: #000000;
    color: #ffffff;
}

.gameboard {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: #000000;
    border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #ffffff;
    -moz-box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    -webkit-text-shadow: 0 0 10px #ffffff;
    -moz-text-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.top-row {
    width: auto;
    height: 200px;
}

.top-l {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.top-m {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.top-r {
    width: 33%;
    height: 100%;
    float: left;
    border-bottom: 1px solid #fff;
}

.mid-row {
    width: auto;
    height: 200px;
}

.mid-l {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.mid-m {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.mid-r {
    width: 33%;
    height: 100%;
    float: left;
    border-bottom: 1px solid #fff;
}

.bottom-row {
    width: auto;
    height: 200px;
}

.bot-l {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
}

.bot-m {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #fff;
}

.bot-r {
    width: 33%;
    height: 100%;
    float: left;
}

.player-o {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px #ffffff;
    -moz-box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    -webkit-text-shadow: 0 0 10px #ffffff;
    -moz-text-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 10px #ffffff;

    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.player-x{
    width:40px;
    height:40px;
    position:relative;
    border-radius:6px;
}

.player-x:before,.player-x:after{
    content:'';
    position:absolute;
    width:36px;
    height:4px;
    background-color:white;
    border-radius:2px;
    top:16px;
    box-shadow:0 0 2px 0 #ccc;
}

.player-x:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:2px;
}
.player-x:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:2px;
}